@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/Proxima Nova Regular.woff2");

  font-family: "Iosevka";
  src: url("fonts/Iosevka Regular.woff2")
}

html {
  font-size: 16px;
  color: #fff;
  text-shadow: 0px 0px 4px #fff;
  font-family: "Iosevka", "Proxima Nova", sans-serif;
  font-weight: normal;
}

body {
  background-color: #000;
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 1080px;
  margin: auto;
  padding: 3em;
  border-radius: 3em;
  background-color: #1C213180;
}

#socials, #copyright {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  line-height: 0.5;
}

a {
  color: aqua;
}