/* General */

@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/Proxima Nova Regular.woff2");

  font-family: "Iosevka";
  src: url("fonts/Iosevka Regular.woff2")
}

html {
  font-size: 16px;
  color: #fff;
  text-shadow: 0px 0px 4px #fff;
  font-family: "Iosevka", "Proxima Nova", sans-serif;
  font-weight: normal;
}

body {
  background-color: #000;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: aqua;
}

/* Specific Elements */

#card {
  /* Sizing */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1080px;

  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  
  /* Spacing */
  margin: auto;
  padding: 3em;
  border-radius: 3em;

  /* Color */
  background-color: #1C2131;
  transition: box-shadow 0.25s ease;
}

#card:hover {
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.75);
}

#socials, #copyright {
  text-align: center;
}

#profile-picture {
  /* box-shadow: 0px 0px 25px rgba(0, 55, 140, 0.5); */
}