@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/Proxima Nova Regular.woff2");

  font-family: "Iosevka";
  src: url("fonts/Iosevka Regular.woff2")
}

html {
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  font-family: "Iosevka", sans-serif;
  font-weight: normal;
}

body {
  background-color: #000;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: aqua;
}